<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mapper.AdminMapper">

    <select id="list" resultType="adminListVo">
        SELECT
        t1.user_id,
        t1.user_name,
        t1.nick_name,
        t1.sex,
        t1.phonenumber,
        t1.create_time,
        t1.`status`
        FROM `sys_user` AS t1
        LEFT JOIN sys_user_role AS t3
        ON t1.user_id = t3.user_id
        WHERE t3.role_id = 5 AND t1.del_flag = 0
        <if test="nickName != null and nickName != ''">
            AND t1.nick_name LIKE CONCAT('%', #{nickName}, '%')
        </if>
        ORDER BY t1.create_time DESC
    </select>

    <select id="selectById" resultType="adminDtlVo">
        SELECT
            t1.user_id,
            t1.user_name,
            t1.password,
            t1.nick_name,
            t1.age,
            t1.sex,
            t1.birthday,
            t1.phonenumber,
            t1.`status`
        FROM `sys_user` AS t1
        WHERE  t1.user_id =  #{userId} AND t1.del_flag = 0
    </select>

    <update id="banById">
        UPDATE sys_user
        SET status = 1
        WHERE user_id = #{userId}
    </update>

    <update id="noBanById">
        UPDATE sys_user
        SET status = 0
        WHERE user_id = #{userId}
    </update>
</mapper>