<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mapper.StudentMapper">


    <select id="list" resultType="studentListVo">
        SELECT
            t1.user_id,
            t1.user_name,
            t1.nick_name,
            t1.grade,
            t1.sex,
            t1.phonenumber,
            t1.create_time,
            t1.`status`
        FROM `sys_user` AS t1
                 LEFT JOIN sys_user_role AS t3
                           ON t1.user_id = t3.user_id
        WHERE t3.role_id = 3
        <if test="nickName != null and nickName != ''">
            AND t1.nick_name LIKE CONCAT('%', #{nickName}, '%')
        </if>
    </select>

    <select id="selectByid" resultType="studentDtlVo">
        SELECT
            t1.user_name,
            t1.password,
            t1.nick_name,
            t1.age,
            t1.sex,
            t1.birthday,
            t1.phonenumber,
            t1.grade,
            t1.`status`
        FROM `sys_user` AS t1
        WHERE  user_id =  #{userId}
    </select>
    <select id="infoByid" resultType="com.mashang.domain.vo.student.StudentInfoVo" parameterType="java.lang.Long">
        select
            u.nick_name,
            u.grade,
            c.class_name,
            u.create_time
        from sys_user u left join ms_class c on u.class_id = c.class_id
        where u.user_id=#{userId}
    </select>
</mapper>