<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mapper.StuLogininfoMapper">

    <select id="list" resultType="stuLoginInfoVo">
        SELECT
            tl.*
        FROM
            sys_user AS tu
                INNER JOIN sys_logininfor AS tl
                           ON tu.user_name = tl.user_name
                INNER JOIN sys_user_role AS tur
                           ON tu.user_id = tur.user_id
        WHERE
            tur.role_id = 3
        <if test="userName != '' and userName != null">
            AND tl.user_name = #{userName}
        </if>
    </select>


    <select id="getUserActivity" resultType="userActivity">
        SELECT
            DATE(login_time) AS date ,
            COUNT(DISTINCT user_name) AS user_sum
        FROM sys_logininfor
        GROUP BY DATE(login_time)
        ORDER BY DATE(login_time) ;
    </select>
</mapper>