<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mapper.TaskMapper">

    <resultMap id="listStudentTasksMap" type="taskListVo" autoMapping="true">
        <id property="taskId" column="task_id"></id>
        <collection property="studentTests" ofType="testAnswerListTaskVo" autoMapping="true">
            <result property="testAnswerId" column="test_answer_id"></result>
        </collection>
    </resultMap>
    <select id="listStudentTasks" resultMap="listStudentTasksMap">
        SELECT
            t1.task_name,
            t1.task_id,
            t3.test_answer_id,
            t3.`status`,
            t4.test_name
        FROM
            ms_task AS t1
                LEFT JOIN
            ms_task_test_answer AS t2
            ON
                t1.task_id = t2.task_id AND
                t2.del_flag = 0
            JOIN
            ms_test_answer AS t3
            ON
                t2.test_answer_id = t3.test_answer_id AND
                t3.del_flag = 0 AND
                t3.user_id = #{userId}
                LEFT JOIN
            ms_test AS t4
            ON
                t3.test_id = t4.test_id AND
                t3.del_flag = 0
        WHERE
            t1.grade = #{grade}
          AND t1.del_flag=0
    </select>
</mapper>
