<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mapper.TaskMapper">

    <resultMap id="listStudentTasksMap" type="studentTaskList" autoMapping="true">
        <id property="taskId" column="task_id"></id>
        <collection property="studentTests" ofType="testAnswerListTaskVo" autoMapping="true">
            <result property="testAnswerId" column="test_answer_id"></result>
        </collection>
    </resultMap>

    <resultMap id="taskTestMap" type="TaskDtlVo" autoMapping="true">
        <collection property="taskTests" ofType="TaskTestVo" autoMapping="true"/>
    </resultMap>
    <select id="listStudentTasks" resultMap="listStudentTasksMap">
        SELECT t1.task_name,
               t1.task_id,
               t3.test_answer_id,
               t3.`status`,
               t3.test_name
        FROM ms_task AS t1
                 LEFT JOIN
             ms_task_test_answer AS t2
             ON
                 t1.task_id = t2.task_id AND
                 t2.del_flag = 0
                 JOIN
             ms_test_answer AS t3
             ON
                 t2.test_answer_id = t3.test_answer_id AND
                 t3.del_flag = 0 AND
                 t3.user_id = #{userId}
        WHERE t1.grade = #{grade}
          AND t1.del_flag = 0
    </select>


    <select id="detail" resultMap="taskTestMap" parameterType="java.lang.Integer">
        select
            ta.task_name,
            ta.grade,
            te.test_id,
            te.test_name,
            s.subject_name,
            te.create_time
        from ms_task ta left join ms_task_test tt on ta.task_id=tt.task_id and tt.del_flag='0'
                        left join ms_test te on tt.test_id=te.test_id and te.del_flag='0'
                        left join ms_subjects s on te.subject_id=s.subject_id and s.del_flag='0'
        where ta.task_id=#{taskId} and ta.del_flag='0'
    </select>
</mapper>
