<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mapper.TeacherMapper">

    <select id="list" resultType="teacherListVo">
        SELECT
        t1.user_id,
        t1.user_name,
        t1.nick_name,
        t1.sex,
        t1.phonenumber,
        t1.create_time,
        t1.`status`
        FROM `sys_user` AS t1
        LEFT JOIN sys_user_role AS t3
        ON t1.user_id = t3.user_id
        WHERE t3.role_id = 4 AND t1.del_flag = 0
        <if test="nickName != null and nickName != ''">
            AND t1.nick_name LIKE CONCAT('%', #{nickName}, '%')
        </if>
        ORDER BY t1.create_time DESC
    </select>

    <select id="selectByid" resultType="teacherDtlVo">
        SELECT
            t1.user_id,
            t1.user_name,
            t1.password,
            t1.nick_name,
            t1.age,
            t1.sex,
            t1.birthday,
            t1.phonenumber,
            t1.grade,
            t1.`status`
        FROM `sys_user` AS t1
        WHERE  user_id =  #{userId} AND t1.del_flag = 0
    </select>
    <select id="classSizeDistribution" resultType="com.mashang.domain.vo.teacher.ClassSizeDistributionVo">
        select c.class_name, count(u.user_id) classUserCount from sys_user u,ms_class c where u.class_id=c.class_id and u.del_flag='0'
        and u.class_id in
        <foreach item="classId" collection="classIds" separator="," open="(" close=")">
            #{classId}
        </foreach>
        group by u.class_id
    </select>
    <select id="classTestDistribution" resultType="com.mashang.domain.vo.teacher.ClassTestDistributionVo">
        select c.class_name, count(tc.class_id) classTestCount from ms_test_class tc,ms_class c
                                                              where tc.class_id=c.class_id and tc.del_flag='0'
        and tc.class_id in
        <foreach item="classId" collection="classIds" separator="," open="(" close=")">
            #{classId}
        </foreach>
        group by tc.class_id
    </select>


</mapper>