<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mapper.TestMapper">

    <resultMap id="pageQueryTeacherMap" type="TestListVo" autoMapping="true">
        <id property="testId" column="test_id"/>
        <collection property="classNames" ofType="java.lang.String" javaType="java.util.List">
            <result column="class_name"/>
        </collection>
    </resultMap>
    
   <select id="pageStudentTests" resultType="testListVo">
       SELECT t2.test_name,
              t2.start_time,
              t1.sum_score,
              t3.subject_name,
              t2.question_num,
              t1.`status`,
              t2.deadline,
              t2.suggest_duration,
              t1.test_answer_id
       FROM ms_test_answer AS t1
                JOIN
            ms_test AS t2
            ON
                t1.test_id = t2.test_id AND
                t2.test_type != 4
               JOIN
           ms_subjects AS t3
       ON
           t2.subject_id = t3.subject_id
       <where>
           t1.user_id = #{t.userId}
           AND t1.del_flag = 0
       <if test="t.subjectId!=null">
           AND t3.subject_id=#{t.subjectId}
       </if>
       <if test="t.testType!=null">
           AND t2.test_type=#{t.testType}
       </if>
       </where>
   </select>

    <select id="pageVideoTests" resultType="videoTestVo">
        SELECT
            t1.test_answer_id,
            t1.`status`,
            t2.test_name,
            t3.subject_name,
            t4.video_url,
            t4.cover_url,
            t4.video_id,
            t4.video_name
        FROM
            ms_test_answer AS t1
                JOIN
            ms_test AS t2
            ON
                t1.test_id = t2.test_id AND
                t2.test_type = 4
                LEFT JOIN
            ms_subjects AS t3
            ON
                t3.subject_id = t2.subject_id
                LEFT JOIN
            ms_video AS t4
            ON
                t4.test_id = t1.test_id
        <where>
            t1.`status` = 2 AND
            t1.user_id = #{v.userId} AND
            t1.del_flag = 0
        <if test="v.subjectId!=null">
            AND t3.subject_id=#{v.subjectId}
        </if>
        </where>

    </select>

    <select id="haveTest" resultType="Integer">
        SELECT
            COUNT(*)
        FROM  ms_test t1
        WHERE  t1.subject_id = #{subjectId}
    </select>

    <select id="list" resultType="manageTestListVo">
        SELECT
            t1.test_id,
            t1.test_name,
            t2.grade,
            t2.subject_name,
            t1.create_time
        FROM
            ms_test t1
                INNER JOIN
            ms_subjects t2
        ON
            t1.subject_id = t2.subject_id
        <where>
            <if test="testId!=null and testId != 0 ">
                t1.test_id = #{testId}
            </if>
            <if test="grade!=null and grade != 0 ">
                t2.grade = #{grade}
            </if>
            <if test="subjectId!=null and subjectId != 0 ">
                t2.subject_id = #{subjectId}
            </if>
        </where>
    </select>

    <resultMap id="selectDtl" type="testDtlVo">
        <result column="test_name" property="testName"></result>
        <result column="subject_id" property="subjectId"></result>
        <result column="grade" property="grade"></result>
        <result column="test_type" property="testType"></result>
        <result column="suggest_duration" property="suggestDuration"></result>
        <collection property="question" ofType="questionTestVo">
            <result column="question_title" property="questionTitle"></result>
            <result column="big_title" property="bigTitle"></result>
            <result column="order" property="order"></result>
            <result property="option" column="option"
                    typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"></result>
        </collection>
    </resultMap>


    <select id="dtl" resultMap="selectDtl">
        SELECT
            ms_test.test_name,
            ms_test.subject_id,
            ms_subjects.grade,
            ms_test.test_type,
            ms_test.suggest_duration,
            ms_test_question.`order`,
            ms_test_question.big_title,
            ms_question.question_title,
            ms_question.`option`
        FROM
            ms_test
                INNER JOIN
            ms_test_question
            ON
                ms_test.test_id = ms_test_question.test_id
                INNER JOIN
            ms_subjects
            ON
                ms_test.subject_id = ms_subjects.subject_id
                INNER JOIN
            ms_question
            ON
                ms_test_question.question_id = ms_question.question_id AND
                ms_subjects.subject_id = ms_question.subject_id
        WHERE  ms_test.test_id = #{testId}
    </select>

    <insert id="linkTestQuestion">
        INSERT INTO ms_test_question (question_id,test_id,big_title,`order`)
        VALUES (#{questionTestCreat.questionId},#{testId}
               ,#{questionTestCreat.bigTitle},#{questionTestCreat.order})
    </insert>

    <delete id="breakTestQuestion">
        DELETE FROM ms_test_question WHERE test_id = #{testId}
    </delete>

    <select id="haveTestAnswer" resultType="Integer">
        SELECT COUNT(*)
        FROM ms_test_answer
        WHERE test_id = #{testId}
    </select>
    <select id="pageQueryTeacher" resultMap="pageQueryTeacherMap">
        select
            t.test_id,
            s.subject_name,
            s.grade,
            t.test_name,
            c.class_name,
            t.create_time
        from ms_test t left join ms_subjects s on t.subject_id=s.subject_id
        left join ms_test_class tc on t.test_id = tc.test_id
        left join ms_class c on tc.class_id = c.class_id
        where t.del_flag='0' and s.grade=#{grade}
        <if test="query.testId!=null">
            and t.test_id=#{query.testId}
        </if>
        <if test="query.subjectId!=null">
            and s.subject_id=#{query.subjectId}
        </if>
    </select>
</mapper>
