<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mashang.mapper.TestAnswerMapper">
    <resultMap id="TestAnswerDtlMap" type="TestAnswerDtlVo" autoMapping="true">
        <id property="testAnswerId" column="test_answer_id" />
        <collection property="questionAnswers" ofType="TestAnswerQuestionAnswerVo" autoMapping="true"/>
    </resultMap>
    
  <select id="getVideoTests" resultType="videoTestVo">
      SELECT
          t1.test_answer_id,
          t2.test_name,
          t3.subject_name,
          t4.video_url,
          t4.cover_url,
          t4.video_id,
          t4.video_name
      FROM
          ms_test_answer AS t1
              JOIN
          ms_test AS t2
          ON
              t1.test_id = t2.test_id AND
              t2.test_type = 4
              LEFT JOIN
          ms_subjects AS t3
          ON
              t3.subject_id = t2.subject_id
              LEFT JOIN
          ms_video AS t4
          ON
              t4.test_id = t1.test_id AND t4.del_flag=0
      WHERE
          t1.`status` = 2 AND
          t1.user_id = #{userId} AND
          t1.del_flag = 0
  </select>

    <select id="getStudentTests" resultType="testListVo">
        SELECT
            t2.test_name,
            t2.start_time,
            t1.sum_score,
            t3.subject_name,
            t2.question_num,
            t1.`status`,
            t2.deadline,
            t2.suggest_duration,
            t1.test_answer_id
        FROM
            ms_test_answer AS t1
                JOIN
            ms_test AS t2
            ON
                t1.test_id = t2.test_id AND
                t2.test_type != 4
               JOIN
           ms_subjects AS t3
        ON
            t2.subject_id = t3.subject_id
        WHERE
            t1.user_id = #{userId} AND
            t1.`status` = 2 AND
            t1.del_flag = 0
    </select>



    <select id="listTestRecord" resultType="testRecordListVo">
        SELECT
        t1.test_answer_id,
        t1.test_name,
        t1.submit_time,
        t1.`status`,
        t1.sum_score,
        t1.create_time,
        t1.duration,
        COUNT(t3.question_answer_id) AS question_num,
        COUNT(IF(t3.`status`=1,1,0)) AS right_num,
        COUNT(IF(t3.question_type IN(3,4,5),1,0)) AS auto_checking,
        IF(t1.`status`=1,t1.user_test_score,NULL) AS final_score,
        t4.subject_name,
        IFNULL( t2.test_type, 6 ) AS test_type
        FROM
        ms_test_answer AS t1
        LEFT JOIN
        ms_test AS t2
        ON
        t1.test_id = t2.test_id
        LEFT JOIN
        ms_question_answer AS t3
        ON
        t3.test_answer_id = t1.test_answer_id AND
        t3.del_flag = 0
        LEFT JOIN
        ms_subjects AS t4
        ON
        t3.subject_id = t4.subject_id
        <where>
            t1.user_id = #{userId} AND
            t1.del_flag = 0
            <if test="subjectId!=null">
                AND t4.subject_id=#{subjectId}
            </if>
        </where>
        GROUP BY
        t1.test_answer_id
        ORDER BY t1.submit_time DESC
    </select>
    <select id="testAnswerList" resultType="com.mashang.domain.vo.management.TestAnswerListVo">
            select
                ta.test_answer_id,
                t.test_name,
                u.nick_name,
                ta.user_test_score,
                ta.sum_score,
                ta.duration,
                ta.submit_time,
                (select count(*) from ms_question_answer qa where test_answer_id=ta.test_answer_id and qa.`status`=1) as right_count,
                (select count(*) from ms_test_question tq where tq.test_id=ta.test_id and tq.del_flag='0') as question_count
            from ms_test_answer ta left join ms_test t on ta.test_id=t.test_id
            left join sys_user u on ta.user_id=u.user_id
            where ta.del_flag='0'
            <if test="subjectId!=null">
                and t.subject_id=#{subjectId}
            </if>
              <if test="status!=null">
                and ta.`status`=#{status}
            </if>
            <if test="userIds!=null">
                and ta.user_id in
                <foreach item="userId" collection="userIds" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>

    </select>
    <select id="getTestAnswerInfo" resultMap="TestAnswerDtlMap" parameterType="java.lang.Long">
        select
            task.task_name,
            ta.test_answer_id,
            ta.test_name,
            u.nick_name,
            ta.sum_score,
            ta.duration,
            ta.user_test_score,
            qa.question_answer_id,
            qa.question_title,
            qa.question_difficulty,
            qa.user_answer,
            qa.explain,
            qa.`status`,
            qa.right_answer,
            qa.question_score,
            qa.option,
            qa.question_type
        from ms_test_answer ta left join ms_question_answer qa on ta.test_answer_id=qa.test_answer_id
            left join ms_task_test tt on ta.test_id=tt.test_id and tt.del_flag='0'
            left join ms_task task on tt.task_id=task.task_id
            left join sys_user u on ta.user_id=u.user_id
        where ta.test_answer_id=#{testAnswerId} and ta.del_flag='0' and ta.status=0
    </select>


</mapper>
